a:focus,
a:active,
a:visited {

	color: inherit;
}


// color white 


button,
.entry-tags a,
.entry-tags a:hover,
.entry-cats ul li a,
.entry-cats ul li a:hover,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wpcf7 input[type="submit"],
.wpcf7 input[type="button"],
.button-general,
a.button-general,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce .added_to_cart.wc-forward,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
button:hover,
.button-general:hover,
a.button-general:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.woocommerce a.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce .add_to_cart_button:hover,
.woocommerce #respond input#submit,
.woocommerce input#submit,
.woocommerce #respond input#submit:hover,
.woocommerce input#submit:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce .add_to_cart_button:hover,
.woocommerce .cart .button,
.woocommerce .cart .button:hover,
.woocommerce button.button,
.woocommerce button.button:hover,
.woocommerce button.button:disabled[disabled],
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order,
.woocommerce #payment #place_order:hover,
.woocommerce-page #payment #place_order:hover,
.site-navigation>ul>li>a,
.masterheader .mini-cart button,
.woocommerce .product-sale span,
.woocommerce ul.products li.product .onsale,
.cta-style-2 .promo-box,
.footer .widget .widget-title h3,
.masterheader .topbar-items a,
.inner-page-wrap .os-breadcrumb-wrap .entry-title,
.inner-page-wrap .os-breadcrumb-wrap .entry-title,
.masterheader .social-icons ul li a,
.inner-page-wrap .page-head .entry-metas ul li a,
.inner-page-wrap .page-head .entry-metas ul li a,
.os-breadcrumb-wrap .breadcrumb-inner .page-title,
.mini-cart-open .woocommerce.widget_shopping_cart .cart_list li a,
.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-breadcrumb span,
.breadcrumb-trail ul li a,
.breadcrumb-trail ul li,
.cta-style-1 .title,
.cta-style-1 .excerpt,
.breadcrumb-trail li.trail-item:after,
.header-style-1 .custom-search-entry button,
.header-style-1 .custom-search .search-form button,
.woocommerce-MyAccount-content .woocommerce-message a.button,
.category-nav li a:hover,
.orchid-backtotop,
.orchid-backtotop:hover,
.category-navigation .cat-nav-trigger,
.site-navigation ul li .sub-menu li a:hover,
.site-navigation ul li .children li a:hover,
.woocommerce ul.products li .product-hover-items ul li a,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce div.product .entry-summary .yith-wcwl-add-to-wishlist a,
.woocommerce div.product .entry-summary .yith-wcwl-add-to-wishlist a:hover,
#yith-wcwl-message,
#yith-quick-view-close,
#yith-quick-view-close:hover,
.woocommerce-page #add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box,
.header-style-1 .wishlist-icon-container a,
.wc-block-grid .wp-block-button__link,
.wc-block-grid .wp-block-button__link:hover,
.wc-block-grid__product-onsale,
.os-about-widget .social-icons ul li a,
.os-about-widget .social-icons ul li a:hover,
.footer .os-about-widget .social-icons ul li a,
.footer .os-about-widget .social-icons ul li a:hover,
.patigation .page-numbers,
.patigation .page-number:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce .woocommerce-pagination .page-numbers li span,
.woocommerce .woocommerce-pagination .page-numbers li a,
.woocommerce .woocommerce-pagination .page-numbers li a:hover,
.product-widget-style-3 .owl-carousel .owl-nav button.owl-next,
.product-widget-style-3 .owl-carousel .owl-nav button.owl-prev,
.product-widget-style-3 .owl-carousel .owl-nav button.owl-next:hover,
.product-widget-style-3 .owl-carousel .owl-nav button.owl-prev:hover,
.mobile-navigation .trigger-mob-nav-close,
.woocommerce .products .product .out-of-stock,
.woocommerce-page .products .product .out-of-stock,
.mobile-navigation .top-header-menu-entry nav>ul>li>a {

	color: $white;
}


// color primary ( black grey )

a,
body,
#yith-wcwl-popup-message,
.quantity-button,
.menu-item-description,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price ins,
.woocommerce-checkout .checkout .col-2 h3 label,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.header-style-1 .custom-search-entry input,
.wc-block-grid .wc-block-grid__product-title,
.search-form button,
form.search-form button[type="search"],
.widget_search form button[type="submit"],
.widget_product_search form button[type="submit"],
.woocommerce.single-product .woocommerce-breadcrumb,
.woocommerce.single-product .woocommerce-breadcrumb a,
.os-page-breadcrumb-wrap .breadcrumb-trail ul li a,
.woocommerce .os-page-breadcrumb-wrap .woocommerce-breadcrumb,
.woocommerce .os-page-breadcrumb-wrap .woocommerce-breadcrumb a,
.os-page-breadcrumb-wrap .breadcrumb-trail li.trail-item:after,
.woocommerce .wishlist_table tr td.product-stock-status span.wishlist-in-stock,
.select2-container--default .select2-selection--single .select2-selection__placeholder {

	color: $primary_color;
}



// color secondary ( blue )


.editor-entry a,
.quantity-button,
.entry-404 h1 span,
.banner-style-1 .caption span,
.product-widget-style-2 .tab-nav ul li a.active,
.woocommerce-page .woocommerce-info a.showcoupon,
.woocommerce-page .woocommerce-info a.showlogin {

	color: $secondary_color;
}


a:hover,
.quantity-button:hover,
.entry-metas ul li a:hover,
.footer a:hover,
.editor-entry a:hover,
.widget_archive a:hover,
.widget_categories a:hover,
.widget_recent_entries a:hover,
.widget_meta a:hover,
.widget_product_categories a:hover,
.widget_rss li a:hover,
.widget_pages li a:hover,
.widget_nav_menu li a:hover,
.woocommerce-widget-layered-nav ul li a:hover,
.widget_rss .widget-title h3 a:hover,
.widget_rss ul li a:hover,
.masterheader .social-icons ul li a:hover,
.comments-area .comment-body .reply a:hover,
.comments-area .comment-body .reply a:focus,
.comments-area .comment-body .fn a:hover,
.comments-area .comment-body .fn a:focus,
.footer .widget_rss ul li a:hover,
.comments-area .comment-body .fn:hover,
.comments-area .comment-body .fn a:hover,
.comments-area .comment-body .reply a:hover,
.comments-area .comment-body .comment-metadata a:hover,
.comments-area .comment-body .comment-metadata .edit-link:hover,
.masterheader .topbar-items a:hover,
.inner-page-wrap .page-head .entry-metas ul li a:hover,
.inner-page-wrap .page-head .entry-metas ul li a:hover,
.mini-cart-open .woocommerce.widget_shopping_cart .cart_list li a:hover,
.woocommerce .woocommerce-breadcrumb a:hover,
.breadcrumb-trail ul li a:hover,
.woocommerce-page a.edit:hover,
.footer .footer-bottom p a:hover,
.footer .copyrights a:hover,
.footer .widget_nav_menu ul li a:hover,
.footer .widget_rss .widget_title h3 a:hover,
.footer .widget_tag_cloud .tagcloud a:hover,
.wc-block-grid .wc-block-grid__product-title:hover,
.woocommerce.single-product .woocommerce-breadcrumb a:hover,
.woocommerce-page .woocommerce-info a.showcoupon:hover,
.woocommerce-page .woocommerce-info a.showlogin:hover,
.os-page-breadcrumb-wrap .breadcrumb-trail ul li a:hover,
.woocommerce .os-page-breadcrumb-wrap .woocommerce-breadcrumb a:hover {

	color: $third_color; // Hover colour
}

.site-navigation>ul>li>a:hover {

	color: $forth_color;
}

// background color

.bg-white,
.masterheader,
.comment-respond,
.woocommerce form.login,
.woocommerce form.register,
.os-blog-style-1 .card-content,
aside.secondary-widget-area .widget,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce-page .woocommerce-billing-fields,
.woocommerce-page .woocommerce-shipping-fields,
.woocommerce-page .woocommerce-additional-fields,
.woocommerce div.product .woocommerce-tabs,
.inner-page-wrap .page-head .entry-cats ul li a,
.woocommerce-page #add_payment_method #payment,
.woocommerce-cart #payment,
.post-navigation .nav-links,
.woocommerce-page .woocommerce ul.order_details,
.woocommerce-page .woocommerce-order-details,
.woocommerce .woocommerce-customer-details address,
.woocommerce-page .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content,
.woocommerce .lost_reset_password,
.woocommerce-page .wishlist_table,
.woocommerce .woocommerce-ResetPassword,
.archive-page-wrap .archive-entry article,
.search-page-wrap .search-entry article,
.inner-page-wrap .editor-entry,
.inner-page-wrap .inner-content-metas,
.comments-area .comment-body,
.woocommerce ul.cart_list li img,
.woocommerce ul.products li.product a img,
.woocommerce ul.product_list_widget li img,
.os-about-widget .social-icons ul li a,
.woocommerce img.pswp__img,
.woocommerce-page img.pswp__img,
.woocommerce .woocommerce-cart-form,
.woocommerce-page .woocommerce-cart-form,
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce-page .woocommerce-checkout-review-order,
.woocommerce div.product div.images.woocommerce-product-gallery,
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce-page form .form-row.create-account {

	background-color: $white;
}

.comment-respond,
.product-main-wrap,
.comments-area .comment-body,
.cats-widget-style-1 .card,
.post-navigation .nav-links,
.os-blog-style-1 .card-content,
.inner-page-wrap .editor-entry,
aside.secondary-widget-area .widget,
.inner-page-wrap .inner-content-metas,
.archive-page-wrap .archive-entry article,
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce-page .wishlist_table,
.woocommerce .lost_reset_password,
.woocommerce .woocommerce-ResetPassword,
.woocommerce div.product div.summary,
.woocommerce .woocommerce-cart-form,
.woocommerce-page .woocommerce-cart-form,
.woocommerce-page div.product .woocommerce-tabs,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce-page .woocommerce-billing-fields,
.woocommerce-page .woocommerce-shipping-fields,
.woocommerce-page .woocommerce-additional-fields,
.woocommerce-page .woocommerce-checkout-review-order,
.woocommerce-page .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content,
.woocommerce-page .woocommerce ul.order_details,
.woocommerce-page .woocommerce-order-details,
.woocommerce .woocommerce-customer-details address,
.woocommerce div.product div.images.woocommerce-product-gallery,
.woocommerce-page form .form-row.create-account {

	border: 1px solid #eef1fd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	-ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.category-navigation .cat-nav-trigger .icon .line:before {

	content: '';
	background-color: $white;
}

.cta-style-2 .box-holder {

	background: $primary_color;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.entry-tags a,
.entry-cats ul li a,
.button-general,
a.button-general,
.mobile-navigation,
#yith-quick-view-close,
.woocommerce .add_to_cart_button,
.woocommerce #respond input#submit,
.woocommerce input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce button.button.alt,
.woocommerce a.button.alt,
.woocommerce input.button.alt,
.orchid-backtotop,
.category-nav li a:hover,
.cta-style-1,
.main-navigation,
.mobile-header-style-1 .bottom-block,
.header-style-1 .top-header,
#yith-wcwl-popup-message,
.header-style-1 .custom-search-entry button,
.header-style-1 .custom-search-entry button:hover,
.header-style-1 .custom-search .search-form button,
.masterheader .mini-cart button,
.owl-carousel button.owl-dot.active,
.woocommerce .added_to_cart.wc-forward,
.woocommerce div.product .entry-summary .yith-wcwl-add-to-wishlist a,
.inner-page-wrap .page-head .entry-cats ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page #add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box,
.header-style-1 .wishlist-icon-container a,
.wc-block-grid .wp-block-button__link,
.os-about-widget .social-icons ul li a,
.patigation .page-numbers,
.woocommerce-store-notice.demo_store,
.woocommerce .woocommerce-pagination .page-numbers li span,
.woocommerce .woocommerce-pagination .page-numbers li a,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled] {

	background: $secondary_color;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.orchid-backtotop:hover,
.entry-tags a:hover,
.entry-cats ul li a:hover,
.button-general:hover,
a.button-general:hover,
#yith-quick-view-close:hover,
.woocommerce .add_to_cart_button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce input.button.alt:hover,
.masterheader .mini-cart button:hover,
.woocommerce .product-hover-items ul li a:hover,
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.woocommerce .added_to_cart.wc-forward:hover,
.category-navigation .cat-nav-trigger,
.wc-block-grid .wp-block-button__link:hover,
.header-style-1 .wishlist-icon-container a:hover,
.os-about-widget .social-icons ul li a:hover,
.woocommerce ul.products li .product-hover-items ul li a:hover,
.woocommerce div.product .entry-summary .yith-wcwl-add-to-wishlist a:hover,
.patigation .page-numbers.current,
.patigation .page-numbers:hover,
.woocommerce .woocommerce-pagination .page-numbers li a:hover,
.woocommerce .woocommerce-pagination .page-numbers li .current,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce input.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt:disabled[disabled]:hover {

	background: $third_color;
}


.menu-item-description {

	background-color: $forth_color;
}

.owl-carousel button.owl-dot {

	background: $special_purpose_color;
}

.wc-block-grid__product-onsale,
.woocommerce .product-sale span:before,
.woocommerce ul.products li.product .onsale:before,
.woocommerce span.onsale:before {

	background: $woo-on-sale-color;
}


// border color


#yith-wcwl-popup-message {

	border: none;
}

.widget .widget-title h3:after {

	border-top-color: $secondary_color;
}

.woocommerce-page .woocommerce-MyAccount-content p a {

	border-bottom: 1px solid $secondary_color;
}

.quantity-button,
.select2-dropdown,
.calendar_wrap table th,
.calendar_wrap table td,
.category-description,
.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a,
.widget_tag_cloud .wp-block-tag-cloud a,
.select2-container--default .select2-search--dropdown .select2-search__field {

	border: 1px solid $border_color;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li,
.woocommerce ul.product_list_widget li,
.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_block .wp-block-page-list li,
.widget_nav_menu li,
.widget_product_categories ul li,
.woocommerce-widget-layered-nav ul li,
.comments-area .comment-body .comment-meta,
.woocommerce .cart_totals h2,
.woocommerce .woocommerce-billing-fields h3,
.woocommerce .woocommerce-shipping-fields h3 .woocommerce-page .cart-collaterals table.shop_table th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-page form.woocommerce-checkout h3,
.woocommerce-checkout #payment ul.payment_methods li,
.woocommerce .widget_rating_filter ul li,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {

	border-bottom: 1px solid $border_color;
}

.widget_pages ul.children,
.widget_nav_menu ul.sub-menu,
.widget_product_categories ul.children {

	border-top: 1px solid $border_color;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {

	content: '';
	border-bottom-color: $secondary_color;
}

.masterheader .mini-cart,
.header-style-1 .custom-search-entry {

	border: 2px solid $secondary_color;
}

.category-nav ul {

	border: 2px solid $secondary_color;
}


.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover {

	border-color: $third_color;
}



// Footer ( Dark )


.footer .copyrights a {

	color: $white;
}

.footer,
.footer a,
.footer .footer-bottom p,
.footer .widget_rss ul li a,
.footer .widget_tag_cloud .tagcloud a {

	color: $dark_footer_links_color;
}

.footer {

	background: $dark_footer_bg;
}

.footer button,
.footer input[type="button"],
.footer input[type="reset"],
.footer input[type="submit"],
.footer .wpcf7 input[type="submit"],
.footer .wpcf7 input[type="button"],
.footer .nice-select,
.footer .calendar_wrap caption,
.footer .nice-select .list,
.footer .social-icons ul li a {

	background: $dark_footer_element_bg_color;
}

.footer .widget_tag_cloud .tagcloud a {

	background-color: transparent;
}

.footer .nice-select,
.footer .widget_archive li,
.footer .widget_categories li,
.footer .widget_recent_entries li,
.footer .widget_meta li,
.footer .widget_recent_comments li,
.footer .widget_rss li,
.footer .widget_pages li,
.footer .widget_nav_menu li,
.footer .widget_tag_cloud a,
.footer .widget_product_tag_cloud a,
.footer .woocommerce-widget-layered-nav ul li,
.footer .calendar_wrap table td,
.footer .calendar_wrap table th,
.footer .woocommerce ul.product_list_widget li,
.footer .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {

	border-color: $dark_footer_border_color;
}