/*
====================================================
=
= WooCommerce Gutenberg Block
=
==========================================
*/

.wc-block-grid {

	position: relative;
}

.wc-block-grid .wc-block-grid__products {

	position: relative;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -15px;
	margin-right: -15px;

}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product {

	flex: 0 0 33.33%;
	max-width: 33.33%;
	float: none;
	position: relative;
	padding: 0 15px 0 15px;
	margin: 0 0 40px 0;
	border: none;
	overflow: hidden;
}

// columns tweak


.wc-block-grid.has-1-columns .wc-block-grid__products .wc-block-grid__product {

	flex: 0 0 100%;
	max-width: 100%;
}


.wc-block-grid.has-2-columns .wc-block-grid__products .wc-block-grid__product {

	flex: 0 0 50%;
	max-width: 50%;
}


.wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product {

	flex: 0 0 33.33%;
	max-width: 33.33%;
}


.wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product {

	flex: 0 0 25%;
	max-width: 25%;
}

.wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product {

	flex: 0 0 20%;
	max-width: 20%;
}


.wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product {

	flex: 0 0 16.66%;
	max-width: 16.66%;
}

// image 

.wc-block-grid__product-link {

	display: block;
}

.wc-block-grid__product .wc-block-grid__product-image {

	margin: 0;
	border: 1px solid #EEE;
}

// product titles 

.wc-block-grid .wc-block-grid__product-link {

	text-decoration: none;
}

.wc-block-grid .wc-block-grid__product-title {

	font-weight: normal;
	font-size: 15px;
	margin: 10px 0;
}

// pricing

.wc-block-grid .wc-block-grid__product-price {

	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}

.wc-block-grid .wc-block-grid__product-price del,
.wc-block-grid .wc-block-grid__product-price ins {

	background-color: transparent;
}

.wc-block-grid .wc-block-grid__product-price del {

	opacity: 0.9;
}

// on sale 

.wc-block-grid__product-onsale {

	position: absolute;
	top: 0;
	left: 15px;
	z-index: 1;
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
	line-height: 1;
	padding: 3px 10px;
	margin: 0 0 20px 0;
}

.wc-block-grid__product-onsale,
.editor-styles-wrapper .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale {

	border: none;
	@include border-radius(0);
}

// rating 

.wc-block-grid__product .wc-block-grid__product-rating {

	position: absolute;
	margin: 0;
	z-index: 10;
	top: 10px;
	right: 20px;
}

.wc-block-grid__product-rating .star-rating,
.wc-block-grid__product-rating .wc-block-grid__product-rating__stars {

	display: inline-block;
	font-size: 10px;
	width: 55px;
	height: 15px;
	line-height: 1;
	vertical-align: middle;

}

.wc-block-grid__product-rating .star-rating span:before {

	color: $woo-rating-color;
}

// add to cart button 

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart {

	margin-bottom: 0;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart>a {

	text-decoration: none;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wp-block-button__link {

	padding: 16px 20px;
	line-height: 1;
	font-size: 14px;
	font-weight: normal;
	@include border-radius(2px);
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart>a:hover {

	text-decoration: none;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart>a:focus {

	outline: none;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .added_to_cart {

	font-size: 14px;
	margin-left: 5px;
}


/*
====================================================
=
= Since: WordPress 5.8 styles [20 July, 2021]
=
==========================================
*/

/* --------------------------------------------------------------------------
	1. Search widget/block
   -------------------------------------------------------------------------- */

.wp-block-search label,
.wp-block-woocommerce-product-search label {

    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

.wp-block-search .wp-block-search__inside-wrapper {

    position: relative;
}


.wp-block-search .wp-block-search__button,
.wp-block-search.wp-block-search__text-button .wp-block-search__button {

    color: #FFF;
    background-color: $secondary_color;
	border: none;
}

.wp-block-search .wp-block-search__button svg,
.wp-block-search .wp-block-search__button:hover svg {

    fill: #FFF;
}

.widget_search .wp-block-search .wp-block-search__button svg,
.widget_search .wp-block-search .wp-block-search__button:hover svg {

    fill: $primary_color;
}

.wp-block-search .wp-block-search__button:hover,
.wp-block-search.wp-block-search__text-button .wp-block-search__button:hover {

    color: #FFF;
    background-color: $third_color;
	border: none;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {

    border: none;
    padding: 0;
}

.wp-block-search .wp-block-search__input,
.wp-block-woocommerce-product-search .wc-block-product-search__field,
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {

    border: 2px solid $border_color;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {

    padding: 15px 40px 15px 15px;
}

.widget_search .wp-block-search.wp-block-search__text-button .wp-block-search__button {

    width: auto;
    padding: 0 10px;
    right: 8px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
}

/* --------------------------------------------------------------------------
	2. Latest posts block
   -------------------------------------------------------------------------- */

.wp-block-rss,
.wp-block-latest-posts {

	margin: 0;
	padding: 0;
	list-style: none;
}

.wp-block-latest-posts li > a,
.wp-block-rss li .wp-block-rss__item-title > a {

	display: block;
	text-decoration: none;
}

.widget_recent_entries .wp-block-latest-posts.is-grid {

	align-items: flex-start;
	justify-content: flex-start;
}

.widget_recent_entries .wp-block-latest-posts.is-grid li {

	border-bottom: none;
	padding: 0;
}

.wp-block-latest-posts .wp-block-latest-posts__featured-image {

	margin-bottom: 15px;
}

.wp-block-latest-posts .wp-block-latest-posts__featured-image > img {

	border-radius: 3px;
}

.wp-block-latest-posts .wp-block-latest-posts__post-excerpt {

	margin-top: 10px;
}

.wp-block-rss .wp-block-rss__item-author,
.wp-block-rss .wp-block-rss__item-publish-date,
.wp-block-latest-posts .wp-block-latest-posts__post-date,
.wp-block-latest-posts .wp-block-latest-posts__post-author {

	display: inline-flex;
	margin-top: 5px;
}

.wp-block-latest-posts .wp-block-latest-posts__post-date {

	margin-left: 10px;
}


/* --------------------------------------------------------------------------
	3. RSS block
   -------------------------------------------------------------------------- */

.wp-block-rss .wp-block-rss__item {

	margin-bottom: 20px;
}

.wp-block-rss .wp-block-rss__item .wp-block-rss__item-title {

	margin-bottom: 5px;
}
.wp-block-rss .wp-block-rss__item .wp-block-rss__item-excerpt {

 	margin-top: 10px;
}

.wp-block-rss .wp-block-rss__item .wp-block-rss__item-author {

	margin-left: 10px;
}


/*
====================================================
=
= Media query
=
==========================================
*/

// [class*="has-"]

@media (max-width:1100px) {


	.wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product {

		flex: 0 0 33.33%;
		max-width: 33.33%;
	}

	body.no-sidebar .wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product {

		flex: 0 0 25%;
		max-width: 25%;
	}
}


@media (max-width:991px) {


	.wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product {

		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
}


@media (max-width:600px) {

	.wc-block-grid.has-2-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-2-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product {

		flex: 0 0 50%;
		max-width: 50%;
	}
}


@media (max-width:575px) {

	.wc-block-grid.has-1-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-2-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product,
	.wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-1-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-2-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-3-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-4-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-5-columns .wc-block-grid__products .wc-block-grid__product,
	body.no-sidebar .wc-block-grid.has-6-columns .wc-block-grid__products .wc-block-grid__product {

		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 480px) {

	.wc-block-grid.has-1-columns .wc-block-grid__products,
	.wc-block-grid.has-2-columns .wc-block-grid__products,
	.wc-block-grid.has-3-columns .wc-block-grid__products,
	.wc-block-grid.has-4-columns .wc-block-grid__products,
	.wc-block-grid.has-5-columns .wc-block-grid__products,
	.wc-block-grid.has-6-columns .wc-block-grid__products {

		display: flex;
	}

}