
// Clearing

.clearfix:before,
.clearfix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.dropcap:before,
.dropcap:after,
.alignleft:before,
.alignright:before,
.editor-entry:before {

    content: '';
    display: table;
}

.clearfix:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.alignleft:after,
.alignright:after,
.editor-entry:after {

    clear: both;
}

.clear {

    clear: both;
}

.woocommerce ul.products::after, 
.woocommerce ul.products::before, 
.woocommerce-page ul.products::after, 
.woocommerce-page ul.products::before,
.woocommerce .products ul::after, 
.woocommerce .products ul::before, 
.woocommerce ul.products::after, 
.woocommerce ul.products::before,
.woocommerce ul.order_details::after, 
.woocommerce ul.order_details::before {

	display:none;
}