button,
input,
select,
textarea {

    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: middle;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

    position: relative;
    cursor: pointer;
    line-height: 1;
    border: none;
    padding: 0 25px;
    height: 41px;
    display: inline-block;
    text-shadow: none;
    @include transation_delay();
}


button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {

    border: none;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {

    outline: none;
}

input[type="checkbox"],
input[type="radio"] {

    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {

    /* Corrects inner padding and border displayed oddly in FF3/4 
    www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

select,
textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {

    height: 41px;
    width: 100%;
    -webkit-appearance: none;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus {

    outline-color: transparent;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"] {

    padding-left: 15px;
}

textarea {

    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding: 30px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    height: 120px;
    max-width: 100%;
    width: 100%;
}

select {

    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    cursor: pointer;
}

select:focus {

    outline: none;
}

.woocommerce .quantity input[type=number]::-webkit-inner-spin-button,
.woocommerce .quantity input[type=number]::-webkit-outer-spin-button {

    -webkit-appearance: none;
    margin: 0;
}

.woocommerce .quantity input[type=number] {

    -moz-appearance:textfield;
}

.woocommerce .quantity .qty,
.woocommerce-page .quantity .qty {

    width: 50px;
    text-align: center;
    padding: 0;
    margin:0;
}

