/*
====================================================
=
= Header styles
=
==========================================
*/

// Default header styles

.masterheader .site-title {

    display: block;
    margin:0;
    font-size: 28px;
    font-weight: bold;
}

.masterheader .site-logo,
.masterheader .site-description {

    margin-bottom: 0;
}

.masterheader .site-description {

    font-size: 15px;
    font-weight: normal;
    text-transform: inherit;
}

.masterheader .topbar-items ul {

    list-style: none;
}

.masterheader .topbar-items ul li {

    display: inline-block;
}

.masterheader .right-col ul {

    text-align: right;
}

.mini-cart-open {

    display: none;
    position: absolute;
    z-index: 99999;
    top: 65px;
    right: 0;
    width: 400px;
    padding: 30px 20px;
    background-color: #272727;
    color: $white;
    @include border_radius(4px);
}

.masterheader .mini-cart button {

    border: none;
    font-size: 21px;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    @include border_radius(50%);

}

.masterheader .mini-cart button:focus {

    outline: none;
}

.mini-cart-open ul {

    list-style: none;
}

.mini-cart-open ul li {

    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.mini-cart-open ul li:last-child {

    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.mini-cart-open .block a,
.mini-cart-open .block span {

    font-size: 16px;
}

.woocommerce .mini-cart span.price {

    display: inline;
    margin: 0;
}

.mini-cart-open .total-checkout {

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    margin-top: 10px;
}

.mini-cart-open .total-checkout:before {

    content: "";
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 5px;
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
}

.mini-cart-open .total-checkout a {

    padding: 10px 20px;
    font-size: 13px;
}

.masterheader .mini-cart {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding:5px;
    position: relative;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:transparent;
    @include border_radius(3px);
}

.masterheader .mini-cart .trigger-mini-cart {

    position: relative;
    margin-right: 5px;
}

.masterheader .mini-cart .cart-amount {

    font-size: 14px;
}

.mini-cart-open.display-block {

    display: block;
}

.mini-cart-open .woocommerce.widget_shopping_cart ul.cart_list {

    display: block;
    margin-bottom: -30px;
    flex-direction: unset;
    flex-wrap: unset;
    justify-content: unset;
    align-items: unset;
    align-content: unset;
}

.mini-cart-open .woocommerce ul.product_list_widget li,
.mini-cart-open .woocommerce.widget_shopping_cart .cart_list li {

    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom-color: #4e4e4e;
}

.mini-cart-open .woocommerce ul.cart_list li:last-child,
.mini-cart-open .woocommerce ul.product_list_widget li:last-child {

    border-bottom: none;
}

.mini-cart-open .woocommerce ul.product_list_widget li img {

    width: 75px;
}

.mini-cart-open .woocommerce.widget_shopping_cart .cart_list li a {

    display: block;
    float: none;
    line-height: 1.3;
    margin-bottom: 0;
    padding-left: 40px;
}

.mini-cart-open .woocommerce.widget_shopping_cart ul.cart_list li a.remove {

    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 32px;
}

.mini-cart-open .woocommerce.widget_shopping_cart ul.cart_list span.quantity {

    float: none;
    display: block;
}

.mini-cart-open .woocommerce .widget_shopping_cart .total,
.mini-cart-open .woocommerce.widget_shopping_cart .total {

    padding: 0;
    margin: 0;
}

.mini-cart-open .woocommerce .woocommerce-mini-cart__total.total,
.mini-cart-open .woocommerce .woocommerce-mini-cart__buttons.buttons {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mini-cart-open .woocommerce .woocommerce-mini-cart__total.total {

    padding: 10px 0;
    margin: 30px 0;
    border-top: 1px solid #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
}

.woocommerce .widget_shopping_cart .buttons a, 
.woocommerce.widget_shopping_cart .buttons a {
    
    display: inline-flex;
    margin:0;
}

.mini-cart-open .widget_shopping_cart_content p:last-child {

    margin-bottom: 0;
}


// header style 1

.masterheader .top-header {

    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-style-1 .top-header .os-row,
.header-style-1 .mid-header .os-row {

    align-items: center;
}

.header-style-1 .top-header .os-col {

    flex: 0 0 50%;
    max-width: 50%;
}

.masterheader .social-icons ul li {

    margin-right: 15px;
}

.masterheader .social-icons ul li:last-child {

    margin-right: 0;
}

.masterheader .social-icons ul li a {

    height: auto;
    width: auto;
    line-height: inherit;
}

.masterheader .topbar-items ul li {

    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.masterheader .topbar-items ul li:last-child {

    border-right: none;
    margin-right: 0;
    padding-right: 0;
}


.header-style-1 .logo-col {

    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.header-style-1 .extra-col {

    flex: 0 0 66.67%;
    max-width: 66.67%;
}

.header-style-1 .custom-search-entry input,
.header-style-1 .custom-search-entry button {

    flex: 1;
}

.header-style-1 .aside-right {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header-style-1 .custom-search {

    flex: 0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);
    padding-right: 15px;
}

.header-style-1 .wishlist-minicart-wrapper {

    flex: 0 0 300px;
    max-width: 300px;
}

.header-style-1 .wishlist-minicart-inner {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-style-1 .wishlist-icon-container a {

    position: relative;
    display: inline-block;
    width: 40px;
    line-height: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    @include border-radius(50%);
}

.header-style-1  .wishlist-icon-container a > .item-count,
.header-style-1  .mini-cart .trigger-mini-cart > .item-count {

    display: inline-block;
    position: absolute;
    top: -10px;
    left: auto;
    right: -6px;
    bottom: auto;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-family: $system_font;
    font-size: 10px;
    font-weight: normal;
    border-radius: 50%;
    background-color: $secondary_color;
    @include mild_drop_shadow();
}

.header-style-1 .mini-cart {

    min-width: 245px;
    @include border-radius(30px);
}

.masterheader .mini-cart .trigger-mini-cart > .item-count {

    right: -8px;
}

.header-style-1 .custom-search-entry {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    overflow: visible;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    @include border_radius(30px);
}

.header-style-1 .custom-search-entry input,
.header-style-1 .custom-search-entry .search-form input[type=search] {

    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 60px;
    color: $primary_color;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 15px;
    height: 46px;
    background-color: transparent;
    vertical-align:middle;
}

.header-style-1 .custom-search-entry input[type="search"]::-moz-placeholder,
.header-style-1 .custom-search-entry .search-form input[type="search"]::-moz-placeholder {

    color: $primary_color;
    opacity:1;
}

.header-style-1 .custom-search-entry button,
.header-style-1 .custom-search-entry .search-form button {

    display: inline-block;
    position: absolute;
    left: auto;
    right: 0;
    width: 60px;
    top: 4px;
    height: 38px;
    right: 3px;
    margin: 0;
    padding: 0;
    line-height: 38px;
    font-size: 18px;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transform:none;
    @include border_radius(30px);
}

// case: hidden search, hidden wishlist, hidden mini-cart

.header-style-1 .mid-header .no-product-search-form .aside-right,
.header-style-1 .mid-header .no-mini-cart .wishlist-minicart-inner,
.header-style-1 .mid-header .no-mini-cart .aside-right,
.header-style-1 .mid-header .no-wishlist-icon .wishlist-minicart-inner {

    justify-content: flex-end;
}

.header-style-1 .mid-header .no-mini-cart .logo-col,
.header-style-1 .mid-header .no-mini-cart .extra-col {

    flex: 0 0 50%;
    max-width: 50%;
}

.header-style-1 .mid-header .no-mini-cart .custom-search {

    flex: 0 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
}

.header-style-1 .mid-header .no-mini-cart .wishlist-minicart-wrapper {

    flex: 0 0 50px;
    max-width: 50px;
}

.header-style-1 .mid-header .no-wishlist-icon .custom-search {

    flex: 0 0 calc(100% - 245px);
    max-width: calc(100% - 245px);
}

.header-style-1 .mid-header .no-wishlist-icon .wishlist-minicart-wrapper {

    flex: 0 0 245px;
    max-width: 245px;
}

.header-style-1 .mid-header .no-wishlist-icon.no-mini-cart .custom-search {

    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
}


// Header primary navigation

.header-style-1 .site-navigation {

    position: relative;
}

// Category menu

.os-nav-row .os-nav-col-left {

    flex: 0 0 25%;
    max-width: 25%;
}

.os-nav-row .os-nav-col-right {

    flex: 0 0 75%;
    max-width: 75%;
}

// no special menu

.os-nav-row.no-special-menu .os-nav-col-right {

    flex: 0 0 100%;
    max-width: 100%;
}


/*
====================================================
=
= Mobile header since version 1.2.1
=
==========================================
*/

.mobile-header {
    
    display:none;
    margin-bottom: 30px;
}

@media(max-width:1024px) {
    
    .desktop-header {

        display:none;
    }

    .mobile-header {

        display:block;
    }
}

.mobile-header .flex-row {

    margin-left:-15px;
    margin-right:-15px;
}

.mobile-header .flex-col {

    padding-left: 15px;
    padding-right: 15px;
}

.mobile-header .mid-block {

    padding:20px 0;
}

.mobile-header .mid-block .os-row {

    align-items: center;
    justify-content: space-between;
}

.header-style-1 .branding {

    max-width:400px;
}

.mobile-header .mid-block .header-items.flex-col {
    
    @include flex_row_alt();
    align-items: center;
    justify-content: flex-end;
}

.mobile-header .mid-block .header-items .flex-row {

    align-items: center;
}

.mobile-header .mid-block .header-items .minicart-column {

    padding-left: 0;
}

.mobile-header .bottom-block .flex-row {

    align-items: center;
    justify-content: space-between;
}

.mobile-header .search-col {
    
    padding-left: 0;
    justify-content: flex-end;
}

.mobile-header .bottom-block {

    position:relative;
}

// search 

.mobile-header .search-toggle {
    
    padding:0;
    margin:0;
    font-size: 22px;
    width: 30px;
    line-height: inherit;
    cursor:pointer;
    background-color:transparent;
}

.mobile-header .search-toggle:hover {
    
    background-color:transparent;
}

.mobile-header-style-1 .mobile-header-search {
    
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 400px;
    animation: .3s 0s osfadeInUp both;
    @include big_shadow();
}

.mobile-header-search-active .mobile-header-search  {

    display:block;
}

.mobile-header.header-style-1 .custom-search {

    display:block;
    flex:0 0 100%;
    max-width:100%;
    padding-right: 0;
    padding:20px;
    background-color:#ffffff;
}

.mobile-header.header-style-1 .custom-search-entry {
    
    border:none;
}
 
.mobile-header.header-style-1 .custom-search-entry input,
.mobile-header.header-style-1 .custom-search-entry .search-form input[type=search] {
    
    font-size: 14px;
    height:43px;
    padding: 10px 25px 10px 10px;
    border:2px solid #eeeeee;
    @include border-radius(0);
}
 
.mobile-header.header-style-1 .custom-search-entry button,
.mobile-header.header-style-1 .custom-search-entry .search-form button {
    
    color: #666666;
    top: 7px;
    right: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: none;
    text-align: center;
    background-color: transparent;
}

.mobile-header.header-style-1 .custom-search-entry button:hover,
.mobile-header.header-style-1 .custom-search-entry .search-form button:hover {
    
    color: #666666;
    border:none;
    background-color:transparent;
}


/*
====================================================
=
= Mobile navigation (Primary)
=
==========================================
*/

// toggle menu 

.menu-toggle {

    display: none;
    font-size: 0;
    padding: 13px 0;
}

.menu-toggle .mobile-menu-toggle-btn {
    
    padding:0;
    margin:0;
    color:transparent;
    border-color:transparent;
    background:transparent;
    background-color:transparent;
    cursor: pointer;
    font-weight: normal;
    @include border-radius(0);
}

.mobile-menu-toggle-btn:hover {

    color:transparent;
    background:transparent;
    border-color:transparent;
    background-color:transparent;
}

.menu-toggle span {

    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    background-color: $white;
    @include transation_delay();
}
.menu-toggle span:last-child {

    margin-bottom: 0;
}

.mobile-navigation {

    position: fixed;
    z-index: 10000;
    top: 0;
    left: -100vw;
    right: auto;
    width: 400px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    min-height: 100vh;
    overflow:auto;
    background-color: #000000;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier;
    transition-timing-function: cubic-bezier;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.mobile-navigation-mask {

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier;
    transition-timing-function: cubic-bezier;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

@media(max-width:1024px) {


    body.menu-toggle-active {

        overflow:hidden;
    }

    body.menu-toggle-active .mobile-navigation {

        left: 0;
        opacity: 1;
        visibility: visible;
        overflow: scroll;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    body.menu-toggle-active .mobile-navigation-mask {

        visibility: visible;
        opacity: 1;
    }

}

.mobile-navigation .canvas-inner {

    position:relative;
}

.mobile-navigation .canvas-container-entry {
    
    position:relative;
    padding: 30px 20px;
}

.mobile-navigation .canvas-close-container {

    position:absolute;
    top:0;
    right:0;
    left:auto;
    z-index:10000;
}

.mobile-navigation .trigger-mob-nav-close {

    padding: 0;
    margin: 0;
    font-size: 21px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
}

// Top header navigation

.mobile-navigation .top-header-menu-entry nav > ul {
    
    padding:0;
    margin:0;
    list-style:none;
}

.mobile-navigation .top-header-menu-entry nav > ul > li,
.mobile-navigation .top-header-menu-entry nav > ul > li > a {

    display:block;
}

.mobile-navigation .top-header-menu-entry nav > ul > li > a {
    
    font-size: 15px;
    padding: 15px 0;
    line-height:1;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}

.mobile-navigation .top-header-menu-entry nav > ul > li > a:hover {
    
    color:#ffbf3f;
}

// navigation in mobile device 

.mobile-navigation .menu-item-description,
.mobile-header .special-navigation .menu-item-description {

    display: none;
}

.mobile-navigation .site-navigation {

    display: block;
    text-align: left;
}

.mobile-navigation .site-navigation ul li,
.mobile-header .special-navigation  ul li {

    display: block;
}

.mobile-navigation .site-navigation ul li a,
.mobile-header .special-navigation  ul li a {

    padding: 15px 0;
    font-size: 15px;
}

.mobile-navigation .site-navigation>ul>li>a,
.mobile-header .special-navigation>ul>li>a {

    line-height: 1;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: inherit;
    font-weight: normal;
}

.mobile-navigation .site-navigation>ul>li:last-child>a,
.mobile-header .special-navigation>ul>li:last-child>a {

    border-bottom: none;
}

.mobile-navigation .site-navigation>ul>li>a:after,
.mobile-header .special-navigation>ul>li>a:after {

    content: '';
    display: none;
}

.mobile-navigation .site-navigation ul li .sub-menu,
.mobile-navigation .site-navigation ul li .children,
.mobile-navigation .site-navigation ul li .sub-menu ul,
.mobile-navigation .site-navigation ul li .children ul,
.mobile-header .special-navigation ul li .sub-menu,
.mobile-header .special-navigation ul li .children,
.mobile-header .special-navigation ul li .sub-menu ul,
.mobile-header .special-navigation ul li .children ul,
.mobile-navigation .site-navigation .menu-item-has-mega-children .mega-menu-sub-menu,
.mobile-navigation .site-navigation .menu-item-has-mega-children .mega-menu-sub-menu {

    position: relative;
    z-index: inherit;
    top: 0;
    left: 0;
    box-shadow: none;
    visibility: visible;
    opacity: 1;
    max-width: 100%;
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}

.mobile-navigation .site-navigation ul li .sub-menu li a,
.mobile-navigation .site-navigation ul li .children li a,
.mobile-header .special-navigation ul li .sub-menu li a,
.mobile-header .special-navigation ul li .children li a,
.mobile-navigation .site-navigation ul li .sub-menu.mega-menu-sub-menu li a,
.mobile-navigation .site-navigation ul .mega-menu-sub-menu .mega-sub-menu-group>a,
.mobile-navigation .site-navigation ul .mega-menu-sub-menu .mega-sub-menu-group ul li a,
.mobile-navigation .site-navigation ul .mega-menu-sub-menu .mega-sub-menu-group ul li:last-child a,
.mobile-navigation .site-navigation ul .mega-menu-sub-menu .mega-sub-menu-group ul li:first-child a {

    color: $white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 1;
    padding: 15px 0 15px 15px;
}

.mobile-navigation .site-navigation ul li .sub-menu li a:hover,
.mobile-navigation .site-navigation ul li .children li a:hover,
.mobile-header .special-navigation ul li .sub-menu li a:hover,
.mobile-header .special-navigation ul li .children li a:hover,
.mobile-navigation .site-navigation .menu-item-has-mega-children .mega-menu-sub-menu li a:hover {

    background-color: transparent;
}

.mobile-navigation .site-navigation ul li:hover>.sub-menu,
.mobile-navigation .site-navigation ul li:hover>.children,
.mobile-header .special-navigation ul li:hover>.sub-menu,
.mobile-header .special-navigation ul li:hover>.children,
.mobile-navigation .site-navigation ul li:hover>.sub-menu.mega-menu-sub-menu,
.mobile-navigation .site-navigation ul li:hover>.children.mega-menu-sub-menu {

    display: none;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}

.mobile-navigation .sub-toggle.visible-desktop {

    display: none;
}

.mobile-navigation .sub-toggle,
.mobile-header .special-navigation .sub-toggle  {

    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    color: $white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #353535;
    opacity: 1;
    cursor: pointer;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}

.mobile-navigation .sub-toggle i,
.mobile-header .special-navigation .sub-toggle i {

    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    width: 35px;
    height: 35px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

// Mega menu 

.mobile-navigation .site-navigation .menu-item-has-mega-children .mega-menu-sub-menu {

    display: none;
    padding: 0;
}

.mobile-navigation .site-navigation ul .menu-item-has-mega-children {

    position: relative;
}

.mobile-navigation .site-navigation ul .mega-menu-sub-menu.menu-depth-1>li.menu-item-has-children {

    margin-bottom: 0;
}

.mobile-navigation .site-navigation ul li .sub-menu.mega-menu-sub-menu li a {

    margin: 0;
}

.mobile-navigation .site-navigation ul .mega-menu-sub-menu .mega-sub-menu-group>a {

    font-weight: normal;
}

.mobile-navigation .site-navigation ul .menu-item-has-mega-children .sub-toggle {

    display: block;
}

.mobile-navigation .site-navigation ul .mega-menu-sub-menu.mega-menu-column-4>li.menu-item-has-children {

    flex: unset;
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


// special menu in mobile header

.mobile-header .cat-nav-trigger {
    
    display:flex;
    padding:0;
    margin:0;
    border:none;
    background-color:transparent;
} 

.mobile-header .cat-nav-trigger:hover {

    background-color:transparent;
}

.mobile-header .cat-nav-trigger .icon .line {
    
    display:block;
    width: 25px;
    height: 2px;
    margin-bottom: 6px;
    background-color:#ffffff;
    @include transation_delay();
}

.mobile-header .cat-nav-trigger .icon .line:nth-child(2) {

    width: 30px;
}

.mobile-header .cat-nav-trigger .icon .line:last-child {

    margin-bottom: 0;
}

.mobile-header .category-navigation .category-navigation-list {

    top:100%;
}

.mobile-header .category-navigation .category-navigation-list:before {
    
    content:'';
    display:none;
}

body.cat-nav-at-navigation-active .mobile-header .category-navigation .category-navigation-list {

    //animation:none;
    transform:none;
}

.mobile-header .special-navigation ul {
    
    padding:0;
    margin:0;
    list-style:none;
}

.mobile-header .special-navigation .category-navigation-list {

    padding-left: 15px;
    padding-right: 15px;
}

.mobile-header .special-navigation .fa {

    margin-right: 5px;
}

.mobile-header .category-navigation ul li {

    border-bottom:none;
}

.mobile-header .special-navigation>ul>li>a,
.mobile-header .special-navigation ul li .sub-menu li a,
.mobile-header .special-navigation ul li .children li a, {

    border-bottom-color:#eeeeee;
}

.mobile-header .special-navigation ul li a,
.mobile-header .special-navigation ul li .sub-menu li a,
.mobile-header .special-navigation ul li .children li a {

    color:$primary_color;
}

@media (max-width:1024px) {
    
    .mobile-header .special-navigation .sub-toggle.visible-desktop {

        display:none;
    }

    // .mobile-header .special-navigation .sub-toggle.visible-tablet {

    //     display:block;
    // }
}