
// Pagination 

.patigation .nav-links {

	margin:-1px 0;
}

.patigation .page-numbers {

	margin:1px;
}

.patigation .page-numbers,
.woocommerce .woocommerce-pagination .page-numbers li,
.woocommerce .woocommerce-pagination .page-numbers li a,
.woocommerce .woocommerce-pagination .page-numbers li span {
	
	display:inline-block;
	height: 45px;
	width:45px;
	line-height: 45px;
	text-align: center;
}

.patigation .page-numbers.current,
.woocommerce .woocommerce-pagination .page-numbers li .current {
	
	padding:0;
	width:45px;
	@include border_radius(0);
}

.patigation .page-numbers:first-child {

	padding-left: 0;
	margin-left: 0;
}

.patigation .page-numbers.next,
.patigation .page-numbers.prev {

	font-size:0;
}

.patigation .page-numbers.next:after,
.patigation .page-numbers.prev:after {

	font-family: 'boxicons';
	font-size:14px;
	line-height: 43px;
}

.patigation .page-numbers.next:after {

	content: "\e9e4";
}

.patigation .page-numbers.prev:after {

	content: "\e9e3";
}

.patigation .page-numbers:last-child {
	
	padding-right: 0;
}

.patigation .page-numbers:first-child {
	
	padding-left: 0;
}


// woocommerce 


.woocommerce nav.woocommerce-pagination ul {

	border:none;
	display:block;
	margin-top: -3px;
	margin-bottom: -3px;
}

.woocommerce .woocommerce-pagination .page-numbers li {

	margin:3px;
	padding:0;
	border:none;
}

.woocommerce .woocommerce-pagination .page-numbers li:first-child {

	margin-left: 0;
}

.woocommerce .woocommerce-pagination .page-numbers li span,
.woocommerce .woocommerce-pagination .page-numbers li a,
.woocommerce .woocommerce-pagination .page-numbers li .current {

	margin:0;
	padding:0;
}

.woocommerce .woocommerce-pagination .page-numbers li span,
.woocommerce .woocommerce-pagination .page-numbers li a {

	background-color:#eee;
}

.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {

	background:#ebe9eb;
}
