// this stylesheet holds following:

// default styles of secondary widgets

// all custom secondary widgets 

// all wp default widget styles

// all woocommerce default widget styles


/*
====================================================
=
= Default styles for secondary widgets 
=
==========================================
*/


.secondary-widget-area .widget {

    margin-bottom: 30px;
    padding: 30px;
}

.widget .widget-title h3,
.widget .widget_title h3 {

    margin-bottom: 20px;
}

.widget .widget-title {

    margin-bottom: 30px;
}

.widget .widget-title h3 {

    display: block;
    position: relative;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
    overflow: hidden;
}

.widget .widget-title h3:after {

    content: "";
    display: inline-block;
    height: 4px;
    vertical-align: middle;
    width: 100%;
    margin-right: -100%;
    margin-left: 14px;
    border-top: 3px solid $secondary_color;
}

.footer .widget,
.footer.secondary-widget-area .widget {

    padding: 0;
    border: none;
    background: none;
}

.footer .widget .widget-title h3 {

    padding: 0;
    overflow-x: initial;
    border-left: none;
}

.footer .widget .widget-title h3:after {

    content: '';
    display: none;
}



/*
====================================================
=
= Custom about widget
=
==========================================
*/

.os-about-widget img {

    display: block;
    margin-bottom: 20px;
}

.os-about-widget .contact-info {

    list-style: none;
}

.os-about-widget .contact-info li {

    display: block;
}

.os-about-widget .contact-info li:last-child {

    margin-bottom: 0;
}

.os-about-widget .contact-info p {

    position: relative;
    padding-left: 35px;
    line-height: 1.6;
}

.os-about-widget .contact-info span {

    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.os-about-widget .contact-info span i {

    font-weight: normal;
    font-size: 26px;
    line-height: 1.6;
}

.os-about-widget .social-icons ul {

    margin: -5px 0;
}

.os-about-widget .social-icons ul li {

    margin: 5px 2px;
}

.os-about-widget .social-icons ul li:first-child {

    margin-left: 0;
}

.os-about-widget .social-icons ul li:last-child {

    margin-right: 0;
}

.os-about-widget .social-icons ul li a {

    font-size: 15px;
    line-height: 40px;
    @include border-radius(50%);
}

.os-about-widget .social-icons ul li a::before {

    content: '';
    display: none;
}


/*
====================================================
=
= wordpress & wooocommerce default widgets 
=
==========================================
*/

.widget_meta ul,
.widget_rss ul,
.widget_pages ul,
.widget_meta ul,
.widget_archive ul,
.widget_nav_menu ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_product_categories ul,
.woocommerce-widget-layered-nav ul,
.widget_block .wp-block-page-list{
    
    list-style:none;
    padding:0;
    margin:0;
    overflow:hidden;
}

.widget_pages ul.children,
.widget_nav_menu ul.sub-menu,
.widget_product_categories ul.children {

    padding-top: 15px;
    margin-top: 15px;
}

.widget_pages ul li,
.widget_nav_menu ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_product_categories ul li,
.woocommerce-widget-layered-nav ul li,
.widget_recent_comments ul li,
.widget_recent_entries li,
.widget_rss li,
.widget_block .wp-block-page-list li {

    position: relative;
}

.widget_pages ul li,
.widget_meta ul li,
.widget_archive ul li,
.widget_nav_menu ul li,
.widget_categories ul li,
.widget_product_categories ul li,
.woocommerce-widget-layered-nav ul li,
.woocommerce .widget_rating_filter ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li,
.widget_block .wp-block-page-list li,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {

    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px 0;
}

.woocommerce .woocommerce-widget-layered-nav-list {

    list-style:none;
}

.widget_rss > ul > li:first-child,
.widget_pages > ul > li:first-child,
.widget_meta > ul > li:first-child,
.widget_archive > ul > li:first-child, 
.widget_categories > ul > li:first-child,
.widget_nav_menu ul.sub-menu li:first-child,
.widget_nav_menu > div > ul > li:first-child,
.widget_product_categories > ul > li:first-child,
.widget_pages ul.children li:first-child,
.widget_recent_comments > ul > li:first-child,
.widget_recent_entries > ul > li:first-child,
.widget_product_categories ul.children li:first-child,
.woocommerce-widget-layered-nav > ul > li:first-child,
.woocommerce .widget_rating_filter ul li:first-child,
.widget_block .wp-block-page-list li:first-child,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:first-child {

    padding-top: 0;
}

.widget_rss > ul > li:last-child,
.widget_pages > ul > li:last-child,
.widget_meta > ul > li:last-child,
.widget_archive > ul > li:last-child, 
.widget_categories > ul > li:last-child,
.widget_nav_menu ul.sub-menu li:last-child,
.widget_nav_menu > div > ul > li:last-child,
.widget_product_categories > ul > li:last-child,
.widget_pages ul.children li:last-child,
.widget_recent_comments > ul > li:last-child,
.widget_recent_entries > ul > li:last-child,
.widget_product_categories ul.children li:last-child,
.woocommerce-widget-layered-nav > ul > li:last-child,
.woocommerce .widget_rating_filter ul li:last-child,
.widget_block .wp-block-page-list li:last-child,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:last-child {
    
    padding-bottom:0;
    border-bottom: none;
}

.widget_nav_menu ul li a {

    position:relative;
}

.widget_nav_menu ul li a,
.widget_archive ul li a,
.widget_categories ul li a,
.widget_product_categories ul li a,
.woocommerce-widget-layered-nav ul li a {

    border: none;
    order: 1;
}

.widget_pages ul li a:hover,
.widget_nav_menu li a:hover,
.widget_archive ul li a:hover,
.widget_categories ul li a:hover,
.widget_product_categories ul li a:hover,
.woocommerce-widget-layered-nav ul li a:hover  {

    background-color: transparent;
}

.widget_product_categories ul.children li a::before {

    content:'\f105';
    font-family:'fontAwesome';
    display:inline-block;
    margin-right: 10px;
}

.widget_pages ul li::before,
.widget_nav_menu ul li::before,
.widget_archive ul li::before,
.widget_categories ul li::before,
.widget_product_categories ul li::before,
.woocommerce-widget-layered-nav ul li::before,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::before {

    content: "";
    flex-grow: 1;
    order: 2;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::before {

    content:'';
    display:inherit;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::after {

    content:'';
    display:none;
}

.widget_archive ul li .count,
.widget_categories ul li .count,
.widget_product_categories ul li .count,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span {

    order: 3;
    font-size: 90%;
}

 .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span {
    
    padding:0;
 }  

.widget_pages ul li ul,
.widget_nav_menu ul li ul,
.widget_archive ul li ul,
.widget_categories ul li ul,
.widget_product_categories ul li ul {

    order: 4;
    flex-grow: 0;
    flex-basis: 100%;
    margin-left: 15px;
}


// menu item description at widget

 .widget_nav_menu ul li a .menu-item-description {

   position:relative;
   left:auto;
   right:auto;
   bottom:auto;
   top:auto;
   font-size: 10px;
   padding-top: 1px;
   padding-bottom: 1px;
   margin-left: 10px;
}

 .widget_nav_menu ul li a .menu-item-description::before {

    content: '';
    display: none;
}

// menu item icon at widget

.widget_nav_menu ul li a i {

    margin-right: 10px;
}

/*
=======================================
=
= Category widget
=
===============================================
*/

.widget_categories label {

    display: block;
    margin-bottom: 10px;
}



/*
=======================================
=
= Recent posts widget 
=
===============================================
*/

.widget_recent_entries .post-date {

    display: block;
    margin-top: 5px;
    padding-left: 0;
    font-size: 14px;
}

/*
=======================================
=
= Recent recent comment
=
===============================================
*/

.widget_recent_comments ul li span {

    margin-right: 5px;
}

.widget_recent_comments ul li a {

    margin-left: 5px !important;
}

/*
=======================================
=
= Archive widget
=
===============================================
*/

.widget_archive label {

    display: block;
    margin-bottom: 10px;
}



/*
=======================================
=
= Rss widget
=
===============================================
*/

.widget_rss .widget-title h3 img {

    display: none;
}


/*
=======================================
=
= Tags cloud
=
===============================================
*/

.widget_tag_cloud .tagcloud,
.widget_product_tag_cloud .tagcloud,
.widget_tag_cloud .wp-block-tag-cloud {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    margin: -5px -4px;

}

.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a,
.widget_tag_cloud .wp-block-tag-cloud a {

    flex: 1 auto;
    text-transform: capitalize;
    font-size: 15px !important;
    padding: 13px 20px;
    line-height: 1;
    margin: 4px;
    text-align: center;
    letter-spacing: 0;
    background: transparent;
    font-weight: 400;
}


/*
=======================================
=
= Search widget 
=
===============================================
*/

.wp-block-search,
form.search-form,
.widget_search form,
.widget_product_search form {

    display: block;
    position: relative;
    border-top: none;
    padding: 0;
    animation: none;
    box-shadow: none;
    background: transparent;
    width: 100%;
}

.wp-block-search label,
form.search-form label,
.widget_search form label,
form.search-form input[type="search"],
.widget_product_search form input[type="search"] {

    float: none;
    width: 100%;
}

.wp-block-search label,
form.search-form label {

    height: auto;
}

.wp-block-search input[type="search"],
form.search-form input[type="search"],
.widget_product_search form input[type="search"] {

    padding-left: 15px;
    padding-right: 40px;
    @include border-radius(0);
}

.search-form button,
form.search-form button[type="search"],
.widget_search form button[type="submit"],
.widget_product_search form button[type="submit"] {

    float: none;
    @include position_absolute(50%, auto, auto, 15px);
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 30px;
    line-height: 30px;
    height: 30px;
    padding: 0;
}

.search-form button:hover,
form.search-form button[type="search"]:hover,
.widget_search form button[type="submit"]:hover,
.widget_product_search form button[type="submit"]:hover {

    background: transparent;
}

.search-form button:focus,
form.search-form button[type="search"]:focus,
.widget_search form button[type="submit"]:focus,
.widget_product_search form button[type="submit"]:focus {

    outline: none;
}

/*
=======================================
=
= Calender widget
=
===============================================
*/


.calendar_wrap caption {

    background: none repeat scroll 0 0 $secondary_color;
    color: $white;
    text-align: center;
    padding: 5px 0;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar_wrap table {

    border-collapse: collapse;
    width: auto;
}

.calendar_wrap table th {

    font-weight: bold;
    padding: 8px 0px;
    text-align: center;
    width: 5%
}

.calendar_wrap table td {

    padding: 8px 0px;
    width: 5%;
    text-align: center;
}

.calendar_wrap table td#prev,
.calendar_wrap table td#next {

    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar_wrap table td#next {

    text-align: right;
}



/*
=======================================
=
= Text widget
=
===============================================
*/

.secondary-widget-area .widget_text {

    .textwidget {

        strong,
        p,
        em,
        pre,
        code,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {

            display: block;
            padding: 7px 0;
        }

        img {

            display: block;
            padding: 5px 0;
        }

        select {

            display: block;
            outline: none;
            width: 100%;
            max-width: 100%;
            padding: 10px;
            text-transform: capitalize;
            border-radius: 2px;
            overflow: hidden;
            text-overflow: ellipsis;

            option {

                display: block;
                width: 100%;
                max-width: 100%;
                white-space: nowrap;
            }
        }
    }
}

/*
========================================
=
= WooCommerce stars widget
=
====================================================
*/


.woocommerce ul.product_list_widget li .star-rating {

    margin-bottom: 5px;
}

.woocommerce ul.product_list_widget li .star-rating,
.woocommerce.widget ul li .star-rating:before,
.woocommerce.widget ul li .star-rating span:before {

    font-size: 13px;
}


/*
========================================
=
= WooCommerce  Filter by price
=
====================================================
*/

.woocommerce .widget_price_filter .price_slider {

    margin-bottom: 30px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {

    height: 4px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {

    width: 10px;
    height: 10px;
    top: -3px;
}

.woocommerce .widget_price_filter .price_slider_amount .button {

    height: auto;
}


/*
========================================
=
= WooCommerce  cart widget
=
====================================================
*/

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {

    @include flex_row_alt();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li,
.woocommerce ul.product_list_widget li {

    @include flex_col(100%);
    position: relative;
    padding: 15px 0 15px 40px;
}


.woocommerce.widget_shopping_cart .cart_list li a.remove,
.mini-cart-open .woocommerce.widget_shopping_cart ul.cart_list li a.remove {

    @include position_absolute(50%, unset, 0, unset);
    z-index: 5;

}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {

    width: 80px;
    float: left;
    margin-right: 15px;
    margin-left: 0;
}


.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {

    border: none;
    margin: 20px 0;
}

.woocommerce .widget_shopping_cart .total strong,
.woocommerce.widget_shopping_cart .total strong {

    font-weight: 600;
}



/*
========================================
=
= WooCommerce  product widget
=
====================================================
*/


.woocommerce ul.product_list_widget ins {

    background: transparent;
}

.woocommerce ul.product_list_widget li:last-child {

    border-bottom: none;
}

.woocommerce.widget_products ul.product_list_widget li,
.woocommerce.widget_top_rated_products ul.product_list_widget li,
.woocommerce.widget_recent_reviews ul.product_list_widget li {

    padding-top: 0;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.woocommerce.widget_products ul.product_list_widget li:last-child,
.woocommerce.widget_recent_reviews ul.product_list_widget li:last-child,
.woocommerce.widget_top_rated_products ul.product_list_widget li:last-child {

    margin-bottom: 0;
    padding-bottom: 0;
}


// woocommerce drop down widget 

.widget .select2-container--default .select2-selection--single {

    height: 43px;
    padding: 0 20px 0 10px;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.widget .select2-container--default .select2-selection--single .select2-selection__rendered {

    line-height: 44px;
    padding: 0;
    margin: 0;
}

.widget .select2-container--default .select2-selection--single .select2-selection__placeholder {

    font-size: 16px;
    color: $primary_color;
}

.widget .select2-container--default .select2-selection--single .select2-selection__arrow {

    top: 50%;
    right: 5px;
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.widget .select2-container--default .select2-search--dropdown .select2-search__field {

    border-color: $border_color;
}

.widget .select2-dropdown {

    border-color: $border_color;
}

/*
========================================
=
= WooCommerce  Top rated products widget
=
====================================================
*/


.woocommerce ul.product_list_widget li {

    padding-left: 0;
}



/*
============================================
=
= WooCommerce  filter by price widget
=
===========================================================
*/


.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {

    background-color: #585858;
}


/*
============================================
=
= WooCommerce  filter by rating
=
===========================================================
*/


.woocommerce.widget_rating_filter ul li a {

    padding:0;
}