
// Define few colors


$facebook:#4267B2;

$twitter:#1DA1F2;

$instagram:#8A33A4;

$googleplus:#DC4C40;

$vk:#507299;

$pinterest:#BD081C;

$reddit:#CEE3F8;

$youtube:#FF0000;

$snapchat:#FFD600;

$linkedin:#0274B3;

$vimeo:#1AB7EA;

$black:#000000;

$white:#ffffff;


// General Color Variables 

$primary_color 							: #333333; 		// Black
$secondary_color						: #FFCA04; 		// Yellow
$third_color							: #FBD7CA; 		// Orange
$special_purpose_color					: #8e8e8e; 		// Light Grey
$border_color							: #f3f3f3; 		// 
$mask_background						: rgba(50,50,50,0.2); 


// Inner pages

$inner_page_master_bg					:#000;



// woocommerce colors


$woo-on-sale-color 						: red;
$woo-body-color                         : #333333;
$woo-primary-color                      : $primary_color;
$woo-secondary-color                    : $secondary_color;
$woo-third-color                        : $secondary_color;
$woo-buttons-color						: $secondary_color;
$woo-button-hover-color					: $third_color;
$woo-border-color						: #eeeeee;
$woo-section-bg-color					: #f5f5f5;
$woo-special-color                      : #eeeeee;






//  Footer ( Dark )

$dark_footer_bg							: #222222; //
$dark_footer_bottom_bg					: #171717; // Pure black 
$dark_footer_links_color				: #949494; //
$dark_footer_border_color				: #2d2d2d;
$dark_footer_alt_border_color			: #424242; // for example nice select
$dark_footer_element_bg_color			: #3a3a3a;
$dark_footer_element_hover_bg			: #424242;
$dark_footer_hover_color				: $white;







