
// Define few colors


$facebook:#4267B2;

$twitter:#1DA1F2;

$instagram:#8A33A4;

$googleplus:#DC4C40;

$vk:#507299;

$pinterest:#BD081C;

$reddit:#CEE3F8;

$youtube:#FF0000;

$snapchat:#FFD600;

$linkedin:#0274B3;

$vimeo:#1AB7EA;

$black:#000000;

$white:#ffffff;


// General Color Variables 

$primary_color 							: #444444; 		// Grey
$secondary_color						: #0286E7; 		// Blue #0286E7 & #0271C1
$third_color							: #E26143; 		// Red
$forth_color							: #FFBF3F;		// yellow
$special_purpose_color					: #808080; 		// Light Grey
$border_color							: #ececec;      // Previous value: #e8e8e8; 
$mask_background						: rgba(50,50,50,0.2); 


// Inner pages

$inner_page_master_bg					:#000;


// woocommerce colors

$woo-on-sale-color 						: red;
$woo-rating-color						: #FFB606;

$woo-alert-bg							: #eaeaea;

$woo-alert-message-border				: #1CA345; // green
$woo-alert-success-border				: #0081FF; // blue
$woo-alert-info-border					: #01A1B9; // blue variation
$woo-alert-warning-border				: #FFC001; // yellow
$woo-alert-error-border					: #DE3F44; // red

//  Footer ( Dark )

$dark_footer_bg							: #222222; //
$dark_footer_bottom_bg					: #171717; // Pure black 
$dark_footer_links_color				: #949494; //
$dark_footer_border_color				: #2d2d2d;
$dark_footer_alt_border_color			: #424242; // for example nice select
$dark_footer_element_bg_color			: #3a3a3a;
$dark_footer_element_hover_bg			: #424242;
$dark_footer_hover_color				: $white;







