/*
====================================================
=
= Addonify Quick View
=
==========================================
*/

#addonify-quick-view-modal {

    .single-product {

        .product {

            .summary {

                padding: 0;
                box-shadow: none;
                border: none;
                background-color: transparent;

                .addonify-add-to-wishlist-btn-wrapper {

                    margin-bottom: 30px;
                }
            }

            .images.woocommerce-product-gallery {

                border: none;
            }
        }
    }
}

