/* Customizer UI */
.customize-control {

    position: relative;
    margin-bottom: 0;
    padding: 10px 10px 0px;
    box-sizing: border-box;
}

.customize-control label {

  display: inline-block;
}

.customize-control-title {

  font-size: 14px;
}

#customize-theme-controls .customize-pane-child.accordion-section-content {

    padding: 10px;
    background-color: #ffffff;
}

.customize-control-pro_options+.option-group-title,
.customize-section-description-container+.option-group-title {

    margin-top: 0 !important;
}

.option-group-title {

    padding: 10px;
    margin-bottom: 15px;
    margin-top: 35px;
    font-size: 13px;
    font-weight: 500;
    display: block;
    text-align: center;
    background: #2196F3;
    color: #ffffff;
    text-transform: uppercase;
}

.customize-control.customize-control-ios label {
  width: 100%;
  display: inline-block;
}

.customize-control-description {
    display: inline-block;
    margin-top: 5px;
}

.customize-control input[type=email], 
.customize-control input[type=number], 
.customize-control input[type=password], 
.customize-control input[type=search], 
.customize-control input[type=tel], 
.customize-control input[type=text], 
.customize-control input[type=url],
.customize-control select {

  height: 30px;
}

/****************************************************************************************************
 **************************************** Upsell Control Styles *************************************
 ****************************************************************************************************/
#customize-controls .control-section-upsell .accordion-section-title:hover,
#customize-controls .control-section-upsell .accordion-section-title:focus {
  background-color: #fff;
}

.control-section-upsell .accordion-section-title .button {
  margin-top:  -4px;
  font-weight: 700;
  margin-left: 8px;
  border-color: #f44332;
  background-color: #f44332;
  color: #fff;
}

.control-section-upsell .accordion-section-title .button:hover {
  background-color: #f44332;
}