
@mixin visibility( $status: hidden ) {

    @if $status == 'hidden' {

        opacity: 0;
        visibility: hidden;
        backface-visibility: hidden;

    } @else {

        opacity: 1;
        visibility: visible;
        backface-visibility: visible;
    }
}

@mixin transition( $property: all, $delay: 0.5s, $function: ease-in-out ) {

    transition: $property $delay $function;
}

@mixin transition_slow () {

    transition: all 1.5s ease;
}

@mixin transition_none () {

    transition: none;
}

@mixin scale () {

    transform: scale(1.1);
    @include transition();
}

@mixin border_radius ( $radius ) {

    border-radius: $radius;
}

@mixin mild_drop_shadow() {

    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.13 );
}

@mixin drop_shadow () {

	box-shadow: 0 2px 6px rgba( 0, 0, 0, 0.2 );
}

@mixin hover_big_shadow () {

    box-shadow: 0px 0px 65px rgba( 0, 0, 0, 0.1 );
    transform: translateY(-10px);
}

@mixin big_shadow () {

    box-shadow: 0px 0px 65px rgba( 0, 0, 0, 0.1 );
}

@mixin position_absolute ( $top, $bottom, $left, $right ) {
	
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    transform:translateY(-50%);
}

@mixin pos_absolute_topnleft () {
	
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin mask () {

    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba( 0, 0, 0, 0.1 );
    @include transition();
}

@mixin bg_image ( $bg_position, $bg_size, $bg_attach) {

	background-position: $bg_position;
	background-size: $bg_size;
	background-attachment: $bg_attach;
}

@mixin flex () {

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

@mixin flex_row () {

    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@mixin flex_row_alt () {

    display: flex;
    flex-wrap: wrap;
}

@mixin flex_col ( $width ) {

    flex: 0 0 $width;
    max-width: $width;
}

@mixin order ( $order_val ) {

    order:$order_val
}

@mixin breakpoint ( $breakpoint ) {

    @if $breakpoint == 'until-ipad-pro' {

        @media ( min-width: 1025px ) {

            @content;
        }
    }
}